---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
    <span class="time">
      <time datetime="{{ page.date | date:"%Y-%m-%d , %H:%M" }}">{{ page.date | date:"%Y-%m-%d , %H:%M" }}</time>
    </span>
<!--
    {% if page.categories %}
    <span class="categories">
        Published in categories
        {% for cat in page.categories %}
        <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
    </span>
    {% endif %}
    {% if page.tags %}
    <span class="tags">
        tagged with 
        {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>&nbsp;
    {% endfor %}
    </span>
    {% endif %}
-->

  </section>
  <section class="post">
  {{ content }}
  </section>
  {% include comments.md %}
<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>
<a href="http://www.amazon.cn/gp/product/B007OZO03M/ref=as_li_tf_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B007OZO03M&linkCode=as2&tag=gyteng-23">Kindle Paperwhite电子书阅读器</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=gyteng-23&l=as2&o=28&a=B007OZO03M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</article>
